# Configurações de Banco de Dados Local
DB_HOST=localhost
DB_NAME=pibo_louvor
DB_USER=root
DB_PASS=

# Configurações do App
APP_ENV=local
APP_DEBUG=true

# Notificações Push VAPID (Opcional, gerar chaves se necessário)
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
